

<h1>SC Scavenger Google Maps</h1>
<div id="map-container">
  <div id="map-canvas">

  </div>
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdYO6Xqe-ws4mL7dP-ggO4MfquwWf3JG4&libraries=places&callback=initialize"  ></script>
