<html>
<head>
  <meta charset="UTF-8">
  <title>Reyes Home page</title>

    <title>Standard Code</title>
    <meta name="description" content="Welcome to Standard Code. We make data science tools for public health organizations." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

            <!--Twitter Card data-->
      <meta name="twitter:card" value="Standard Code Notes: Ángel Reyes - Apprentice Developer">
      <!--Open Graph data-->
      <meta property="og:title" content="Standard Code | Ángel Reyes - Apprentice Developer" />
      <meta property="og:type" content="article" />
      <meta property="og:url" content="https://www.standardco.de/angel-reyes-apprentice" />

      <meta property="og:description" content="Standard Code Notes. The Standard Code collective brain in &lt;html&gt; format " />

    <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="NZhFZeTY9LUhj3xTUtNbX1tPMyPB1ePdCq7w144vGIDbeU8g58NzjAOnwChOzD35M1wxAz+/ZMoYgxaXFdijzg==" />


    <!-- <script src="/assets/application.js" data-turbolinks-track="true"></script> -->

    <!-- <script src="//use.typekit.net/hqu2fkm.js"></script> -->
    <!-- <script>try{Typekit.load({ async: true });}catch(e){}</script> -->


</head>
<body>

  <div id="fb-root"></div>
<!-- <a class="icon icon-x back-x" href="http://localhost:3000/Instructions"></a> -->
<div class="content" id="detail-view">
<div class="full-content">
    <div class="full-details">
        <h2>Ángel Reyes  - Apprentice Developer</h2>
        <div class="body">Ángel is an Electrical Engineer at Georgia Power. In addition to his work at Georgia Power, Ángel is a freelance web developer, helping small businesses build and maintain their websites and online stores. Outside of work, Ángel enjoys working on DIY projects like building an electric skateboard, cycling, and sometimes running. During the winter months Ángel makes his own lipbalm.</div>
        <div class="post-details">
            <span class="user">
                Picked by Angel<br>
                Sept. 21 2016
            </span>
            <span class="tag">note</span>
        </div>
            <div class="share">
                <a  href="javascript::void(0)" onclick="fb_share('https://www.standardco.de/angel-reyes-apprentice-developer')">Share on Facebook</a>
                |
                <a href="https://twitter.com/intent/tweet/?text=Ángel Reyes / Apprentice Ddeveloper&url=https%3A%2F%2Fwww.standardco.de%2Fangel-reyes-apprentice-developer" target="_blank" onclick="javascript:twitter_share(this.href);return false;">Share on Twitter</a>
            </div>
    </div>
    <div class="bottom-hero">

    </div>

</div>
</div>


</body>
</html>
